* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: $text-gray
}

body {
  background: $white;
  font-family: $font-family-primary;
}

.flex-center {
  @include flex-center;
}

.flex-between {
  @include flex-between;
}